* {
  margin: 0;
  padding: 0;
}
#joinn {
  background: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  position: relative;
}
body .header {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5;
  padding-bottom: 2vw;
}
body .header .header_img {
  width: 120%;
  height: 40vh;
  margin-left: -10%;
  background-image: url("../image/personal/p_0.png");
  background-size: 100% 115%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body .header .header_img:before {
  position: absolute;
  width: 120%;
  height: 15vw;
  left: -10%;
  bottom: 0;
  z-index: 1;
  content: '';
  border-radius: 500% 500% 0 0;
  background: white;
  box-shadow: inset 0 0.5vw 0.8vw rgba(200, 200, 200, 0.5);
}
body .header .header_avterbox {
  width: 12vh;
  height: 12vh;
  margin: 3vh auto 1vh;
  position: relative;
}
body .header .header_avterbox > img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
body .header .header_avterbox .header_avter_id {
  display: none;
  width: 7vw;
  height: 7vw;
  background-image: url("../image/personal/p_12.png");
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
body .header .header_avtername {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  display: block;
}
body .header .header_one {
  width: 95%;
  height: auto;
  margin: 2vh auto 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 #c4c4c4;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
body .header .header_one .header_one_title {
  width: 92%;
  margin: 0 auto;
  font-size: 3.5vw;
  line-height: 8vw;
  font-weight: 700;
  color: #646464;
}
body .header .header_one .header_one_title .header_one_id {
  float: right;
  width: 20vw;
  height: 4.5vw;
  margin-top: 1vw;
  background-image: url("../image/personal/p_13.png");
  background-size: 100% 100%;
}
body .header .header_one .header_one_item {
  width: 93%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}
body .header .header_one .header_one_item .header_one_item_one {
  width: 49%;
  float: left;
  position: relative;
  background-size: 100% 100%;
}
body .header .header_one .header_one_item .header_one_item_one .header_one_item_box {
  overflow: hidden;
}
body .header .header_one .header_one_item .header_one_item_one .header_one_item_box .header_one_item_font {
  font-size: 3.5vw;
  font-weight: 700;
  margin-left: 2vw;
  margin-top: 2vw;
  color: #ffffff;
}
body .header .header_one .header_one_item .header_one_item_one .header_commission {
  font-size: 4.8vw;
  font-weight: 700;
  text-align: center;
  line-height: 7vw;
  color: #ffffff;
  margin-top: 4vw;
  margin-bottom: 4vw;
  position: relative;
}
body .header .header_one .header_one_item .header_one_item_one .header_commission:after {
  content: '￥';
  font-size: 3vw;
  position: absolute;
  right: 2vw;
  color: #ffffff;
}
body .header .header_one .header_ll {
  border: none !important;
}
body .header .header_one .header_one_item_two {
  width: 93%;
  height: auto;
  display: block;
  margin: 2vw auto;
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
}
body .header .header_one .header_one_item_two .header_one_item_two_img {
  width: 12%;
  float: left;
}
body .header .header_one .header_one_item_two .header_one_item_two_img > img {
  margin-top: 3vw;
  margin-right: 2vw;
  width: 6vw;
  height: 6vw;
  margin-left: 2vw;
  display: block;
}
body .header .header_one .header_one_item_two .header_one_item_two_font {
  float: left;
  width: 88%;
  font-size: 3.5vw;
  line-height: 13vw;
  font-weight: 700;
  color: #646464;
  position: relative;
}
body .header .header_one .header_one_item_two .header_one_item_two_font .header_one_item_two_ew {
  font-size: 3vw;
  float: right;
  margin-right: 8vw;
  position: relative;
  color: #969696;
}
body .header .header_one .header_one_item_two .header_one_item_two_font .header_one_item_two_ew:after {
  content: '';
  background-image: url("../image/personal/p_11.png");
  background-size: 100% 100%;
  width: 3vw;
  height: 3vw;
  position: absolute;
  line-height: 14vw;
  top: 5vw;
}
body .header .header_one .header_one_item_two .header_one_item_two_font:after {
  content: '';
  background-image: url("../image/personal/p_10.png");
  background-size: 100% 100%;
  width: 4vw;
  height: 4vw;
  position: absolute;
  line-height: 14vw;
  right: 0;
  top: 4.5vw;
}
body .header .header_one .header_one_item_three {
  width: 93%;
  height: auto;
  display: block;
  margin: 2vw auto;
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
}
body .header .header_one .header_one_item_three .header_one_item_two_img {
  width: 12%;
  float: left;
}
body .header .header_one .header_one_item_three .header_one_item_two_img > img {
  margin-top: 3vw;
  margin-right: 2vw;
  width: 7vw;
  height: 6vw;
  margin-left: 2vw;
  display: block;
}
body .header .header_one .header_one_item_three .header_one_item_two_font {
  float: left;
  width: 88%;
  font-size: 3.5vw;
  line-height: 13vw;
  font-weight: 700;
  color: #646464;
  position: relative;
}
body .header .header_one .header_one_item_three .header_one_item_two_font .header_one_item_three_font {
  float: right;
  color: #969696;
}
body .header .header_one .content_onebecome {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  border-radius: 5px;
}
body .header .header_one .content_onebecome .content_onebecomea {
  width: 40%;
  height: 4.5vh;
  line-height: 4.5vh;
  font-size: 12px;
  font-weight: 400;
  background: rgba(252, 96, 118, 0.9);
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}
body .content {
  width: 100%;
  height: auto;
  margin-bottom: 18vw;
  background: #ffffff;
  padding-top: 2vw;
}
body .content .content_two {
  width: 91%;
  height: auto;
  padding: 1vh 2%;
  margin: 0vw auto 2vh;
  position: relative;
  z-index: 6;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #c4c4c4;
  line-height: 7.5vh;
  overflow: hidden;
}
body .content .content_two .content_two_titlebox {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  line-height: 22px;
}
body .content .content_two .content_two_titlebox .content_two_title {
  font-size: 13px;
  font-weight: 700;
  color: #646464;
  float: left;
}
body .content .content_two .content_two_titlebox .content_two_order {
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  float: right;
}
body .content .content_two .content_two_menu {
  width: 100%;
  overflow: hidden;
}
body .content .content_two .content_two_menu .menu_item {
  width: 25%;
  height: 8vh;
  float: left;
}
body .content .content_two .content_two_menu .menu_item .mene_item_img {
  width: 5vh;
  height: 7vh;
  margin: 1vh auto;
}
body .content .content_two .content_two_menu .menu_item .mene_item_img > img {
  height: 100%;
  display: block;
}
body .content .content_three {
  width: 91%;
  height: auto;
  padding: 2vh 2% 1vh;
  margin: 2vh auto;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #c4c4c4;
  overflow: hidden;
}
body .content .content_three .content_three_item {
  width: 95%;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  padding: 2.5vh 0 2.3vh 1%;
}
body .content .content_three .content_three_item .content_three_item_img {
  float: left;
  width: 4vh;
  height: 3vh;
}
body .content .content_three .content_three_item .content_three_item_img > img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
body .content .content_three .content_three_item .content_three_item_name {
  font-size: 14px;
  font-weight: 700;
  color: #646464;
  float: left;
  line-height: 24px;
  margin-left: 3%;
}
body .content .content_four {
  width: 91%;
  height: auto;
  padding: 0 2% 0;
  margin: 2vh auto;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #c4c4c4;
  overflow: hidden;
}
body .content .content_four .content_four_item {
  width: 95%;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  padding: 2.2vh 0 2vh 1%;
}
body .content .content_four .content_four_item .content_four_item_img {
  float: left;
  width: 4vh;
  height: 3vh;
}
body .content .content_four .content_four_item .content_four_item_img > img {
  height: 100%;
  display: block;
}
body .content .content_four .content_four_item .content_four_item_name {
  font-size: 14px;
  font-weight: 700;
  color: #969696;
  float: left;
  margin-left: 3%;
}
body .content .content_five {
  display: table;
  margin: 1vw auto;
}
body .content .content_five .content_version {
  font-size: 3.2vw;
  font-weight: 700;
  color: #c4c4c4;
  text-align: center;
  float: left;
  margin-right: 2vw;
}
body .content .content_five .content_five_item {
  float: left;
  overflow: hidden;
}
body .content .content_five .content_five_item .content_five_img {
  width: 5vw;
  height: 5vw;
  float: left;
  background-image: url(../image/personal/阿里云.png);
  background-size: 100% 100%;
  margin-right: 1vw;
}
body .content .content_five .content_five_item .content_five_font {
  font-size: 3.5vw;
  font-weight: 500;
  color: #c4c4c4;
  float: left;
}
body .aboutbox {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(88, 68, 68, 0.3);
}
body .aboutbox .about {
  width: 90%;
  height: auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(88, 68, 68, 0.3);
  border-radius: 20px;
  margin: 20vh auto;
  position: relative;
}
body .aboutbox .about .about_header {
  padding-top: 10px;
  overflow: hidden;
  display: table;
  margin: 0 auto;
  text-align: center;
}
body .aboutbox .about .about_header .about_header_img {
  float: left;
  width: 8vw;
  height: 8vw;
}
body .aboutbox .about .about_header .about_header_img > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .aboutbox .about .about_header .about_header_title {
  float: left;
  font-size: 12px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 28px;
  color: #8c8c8c;
  margin-left: 2vw;
}
body .aboutbox .about .about_header_cannel {
  position: absolute;
  top: 15px;
  right: 2%;
  width: 18px;
  height: 18px;
}
body .aboutbox .about .about_content {
  width: 100%;
  height: 40vh;
}
body .contactbox {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(88, 68, 68, 0.3);
}
body .contactbox .contact {
  width: 90%;
  height: auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(88, 68, 68, 0.3);
  border-radius: 10px;
  margin: 20vh auto;
  position: relative;
}
body .contactbox .contact .contact_header {
  padding-top: 10px;
  overflow: hidden;
  display: table;
  margin: 0 auto;
  text-align: center;
}
body .contactbox .contact .contact_header .contact_header_img {
  float: left;
  width: 5vw;
  height: 5vw;
}
body .contactbox .contact .contact_header .contact_header_img > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .contactbox .contact .contact_header .contact_header_title {
  float: left;
  font-size: 12px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 5vw;
  color: #8c8c8c;
  margin-left: 2vw;
}
body .contactbox .contact .contact_header_cannel {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
}
body .contactbox .contact .contact_header_cannel > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .contactbox .contact .contact_content {
  width: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
body .contactbox .contact .contact_content .contact_content_item {
  width: 95%;
  height: auto;
  margin: 3vw auto;
  font-size: 3.5vw;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 4vw;
  color: #8c8c8c;
  overflow: hidden;
}
body .contactbox .contact .contact_content .contact_content_item .contact_content_item_title {
  width: 20%;
  float: left;
  font-weight: 700;
}
body .contactbox .contact .contact_content .contact_content_item .contact_content_item_font {
  width: 70%;
  margin-left: 5%;
  float: left;
}
body .versionbox {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(88, 68, 68, 0.3);
  overflow: hidden;
}
body .versionbox .version {
  width: 90%;
  height: auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(88, 68, 68, 0.3);
  border-radius: 20px;
  margin: 40vh auto;
  position: relative;
}
body .versionbox .version .version_header {
  padding-top: 10px;
  overflow: hidden;
  display: table;
  margin: 0 auto;
  text-align: center;
}
body .versionbox .version .version_header .version_header_img {
  float: left;
  width: 5vw;
  height: 5vw;
}
body .versionbox .version .version_header .version_header_img > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .versionbox .version .version_header .version_header_title {
  float: left;
  font-size: 12px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 5vw;
  color: #8c8c8c;
  margin-left: 2vw;
}
body .versionbox .version .version_header_cannel {
  position: absolute;
  top: 10px;
  right: 3%;
  width: 12px;
  height: 12px;
}
body .versionbox .version .version_header_cannel > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .versionbox .version .version_content {
  width: 100%;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 5vw;
  color: #8c8c8c;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
body .detailbox .detail {
  width: 90%;
  height: auto;
  background: #ffffff;
  margin: 0 auto;
  position: relative;
}
body .detailbox .detail .detail_header_fee {
  position: absolute;
  font-size: 3.5vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  line-height: 8vw;
  color: #8c8c8c;
  right: 2vw;
  top: 10px;
}
body .detailbox .detail .detail_header {
  padding-top: 10px;
  overflow: hidden;
  display: table;
  margin: 0 auto;
  text-align: center;
}
body .detailbox .detail .detail_header .detail_header_img {
  float: left;
  width: 6vw;
  height: 6vw;
  margin-top: 1vw;
}
body .detailbox .detail .detail_header .detail_header_img > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .detailbox .detail .detail_header .detail_header_title {
  float: left;
  font-size: 4vw;
  font-family: Source Han Sans CN;
  font-weight: 800;
  line-height: 8vw;
  color: #8c8c8c;
  margin-left: 2vw;
}
body .detailbox .detail .detail_header_cannel {
  position: absolute;
  top: 3vw;
  right: 3vw;
  width: 18px;
  height: 18px;
}
body .detailbox .detail .detail_header_cannel > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .detailbox .detail .detail_content {
  width: 100%;
  height: auto;
  padding-bottom: 1vw;
  padding-top: 4vw;
}
body .detailbox .detail .detail_content .detail_content_header {
  width: 100%;
  margin: 1vw auto;
  border-bottom: 1px solid #c4c4c4;
  overflow: hidden;
  padding-bottom: 2vw;
}
body .detailbox .detail .detail_content .detail_content_header .detail_content_headeritem {
  width: 20%;
  float: left;
  font-size: 3.5vw;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 4vw;
  color: #646464;
  text-align: center;
}
body .detailbox .detail .detail_content .detail_content_header .detail_content_headeritem:nth-child(1) {
  width: 40%;
}
body .detailbox .detail .detail_content .detail_content_c {
  width: 100%;
  margin: 0 auto 1vw;
  padding-bottom: 2vw;
  overflow: auto;
}
body .detailbox .detail .detail_content .detail_content_c .detail_c_item {
  overflow: hidden;
  margin-top: 2vw;
}
body .detailbox .detail .detail_content .detail_content_c .detail_c_item .detail_c_itemfont {
  width: 20%;
  float: left;
  font-size: 3.5vw;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 4vw;
  color: #8c8c8c;
  text-align: center;
}
body .detailbox .detail .detail_content .detail_content_c .detail_c_item .detail_c_itemfont:nth-child(1) {
  width: 40%;
}
body .detailbox .detail .detail_content .detail_content_c .detail_c_no {
  width: 40vw;
  height: 40vw;
  margin: 5vh auto;
  background-image: url(../img/index/no.png);
  background-size: 100% 100%;
}
body #foot_nav {
  box-shadow: 0 -1px 2px #f0f0f0;
  width: 100%;
  height: 15vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #ffffff;
}
body #foot_nav > a {
  display: block;
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 3.5vw;
  color: #6c6c6c;
  font-weight: 500;
  font-family: Arial;
}
body #foot_nav > a > div:first-child {
  width: 8vw;
  height: 8vw;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1.5vw auto 0;
}
body #alertK {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
body #alertK > #alert1 {
  width: 78vw;
  height: auto;
  background-color: white;
  margin: 20vh auto 0;
  border-radius: 10px;
  position: relative;
  top: 100vh;
  overflow: hidden;
  padding: 2vw;
  padding-bottom: 8vw;
}
body #alertK > #alert1 .back {
  width: 5vw;
  height: 5vw;
  position: absolute;
  right: 3vw;
  top: 3vw;
  background-image: url("../img/back.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body #alertK > #alert1 .title {
  width: 40%;
  height: 10vw;
  margin: 0 auto ;
  background-image: url("../img/entrance_alert/商家title.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body #alertK > #alert1 .titleT {
  width: 70%;
  height: 9vw;
  margin: 0 auto;
  background-image: url("../img/entrance_alert/商家txt.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body #alertK > #alert1 .tp {
  width: 90%;
  height: 12vw;
  margin: 8vw auto ;
  border-radius: 8vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
body #alertK > #alert1 .tp > div {
  float: left;
}
body #alertK > #alert1 .tp > div:first-child {
  width: 6vw;
  height: 6vw;
  margin-top: 3vw;
  margin-left: 4vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body #alertK > #alert1 .tp > div:last-child {
  width: 70%;
  height: 6vw;
  margin-top: 3vw;
  margin-left: 3vw;
  border-left: 1px solid #F3F3F3;
  padding-left: 5%;
}
body #alertK > #alert1 .tp > div:last-child > input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 4vw;
  color: #B7B7B7;
  font-weight: 500;
  font-family: Arial;
}
body #alertK > #alert1 .tp > div:last-child > input::-webkit-input-placeholder {
  font-size: 4vw;
  color: #B7B7B7;
  font-weight: 500;
  font-family: Arial;
}
body #alertK > #alert1 .login {
  width: 92%;
  height: 13vw;
  margin: 0 auto 2vw;
  background-image: url("../img/entrance_alert/商家登录.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body #alertK > #alert1 .forget {
  width: 32%;
  height: 8vw;
  margin: 2vw auto 0;
  background-image: url("../img/entrance_alert/商家忘记密码.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: 0.2vw;
}
body #alertK > #alert1 .st {
  width: 100%;
  height: 8vw;
  background-color: #FCBC28;
  position: absolute;
  bottom: -1vw;
  left: 0;
}
body #alertK > #alert1 .login_two_remeber {
  width: 100%;
  margin-left: 10vw;
  overflow: hidden;
  margin-bottom: 2vw;
}
body #alertK > #alert1 .login_two_remeber > input {
  display: block;
  float: left;
  width: 3vw;
  height: 3vw;
  margin-top: 1.3vw;
  margin-right: 1vw;
}
body #alertK > #alert1 .login_two_remeber > div {
  float: left;
  font-size: 16px;
  font-family: PingFangSC-Regular;
  color: #737b91;
}
body .join_header {
  width: 100%;
  height: 25vh;
  background-image: url("../image/join/j_0.png");
  background-size: 100% 100%;
}
body .order_header {
  width: 100%;
  height: 10vw;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(88, 68, 68, 0.2);
}
body .order_header .order_header_ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
}
body .order_header .order_header_ul .order_header_li {
  width: 20%;
  float: left;
  text-align: center;
  overflow: hidden;
}
body .order_header .order_header_ul .order_header_li .order_header_lis {
  height: 8vw;
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 500;
  line-height: 12vw;
  padding-bottom: 1vw;
}
body .order_header .order_header_ul .order_header_li .header_add {
  color: #fc6076;
  border-bottom: 3px solid #fc6076;
}
body .order {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 18vw;
}
body .order .order_none {
  display: none;
  width: 60vw;
  height: 60vw;
  margin: 15vh auto;
}
body .order .order_none > img {
  width: 60vw;
  height: 50vw;
  display: block;
}
body .order .order_none > span {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #8c8c8c;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.2em;
}
body .order .order_content {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding-top: 2.5vw;
}
body .order .order_content .order_item {
  width: 95%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 5vw;
}
body .order .order_content .order_item .order_item_title {
  width: 95%;
  font-size: 3.5vw;
  font-family: FZLanTingHei-R-GBK;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  line-height: 4.5vw;
  margin: 2vw auto 3vw;
}
body .order .order_content .order_item .order_item_three {
  width: 95%;
  padding: 0 2.5% 2vw;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #e9e9e9;
}
body .order .order_content .order_item .order_item_three .order_item_threeimg {
  width: 42%;
  height: 20vw;
  float: left;
}
body .order .order_content .order_item .order_item_three .order_item_threeimg > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .order .order_content .order_item .order_item_three .order_item_threebox {
  width: 55%;
  float: left;
  margin-left: 3%;
}
body .order .order_content .order_item .order_item_three .order_item_threebox .order_item_threenale {
  font-size: 3.5vw;
  font-family: FZLanTingHei-R-GBK;
  font-weight: 400;
  color: #000000;
}
body .order .order_content .order_item .order_item_three .order_item_three_time {
  width: 100%;
  float: left;
  font-size: 3.5vw;
  font-family: FZLanTingHei-R-GBK;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 3vw;
}
body .order .order_content .order_item .order_item_four {
  width: 95%;
  height: 10vw;
  margin: 0 auto;
  overflow: hidden;
}
body .order .order_content .order_item .order_item_four .order_item_four_amountbox {
  width: 58%;
  height: 100%;
  float: left;
  overflow: hidden;
}
body .order .order_content .order_item .order_item_four .order_item_four_amountbox .order_item_four_totalamout {
  font-size: 3.8vw;
  font-family: FZLanTingHei-R-GBK;
  font-weight: 800;
  color: #e23a72;
  line-height: 10vw;
  float: left;
}
body .order .order_content .order_item .order_item_four .order_item_four_amountbox .order_item_four_number {
  font-size: 3.5vw;
  font-family: FZLanTingHei-R-GBK;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 10vw;
  float: right;
}
body .order .order_content .order_item .order_item_four .order_item_four_details {
  width: 42%;
  height: 100%;
  float: left;
  overflow: hidden;
}
body .order .order_content .order_item .order_item_four .order_item_four_details .order_item_four_name {
  display: block;
  text-decoration: none;
  width: 60%;
  height: 7vw;
  background: #e23a72;
  border-radius: 8px;
  margin-top: 1.5vw;
  font-size: 3.5vw;
  font-family: FZLanTingHei-R-GBK;
  font-weight: 400;
  color: #ffffff;
  line-height: 7vw;
  float: right;
  text-align: center;
}
body .order .order_content .order_item .order_item_four .order_item_four_operate {
  width: 42%;
  height: 100%;
  float: left;
  overflow: hidden;
  display: table;
  margin: 0 auto;
}
body .order .order_content .order_item .order_item_four .order_item_four_operate .order_item_four_do {
  width: 40%;
  height: 6vw;
  border-radius: 8px;
  margin-top: 1.5vw;
  font-size: 3.5vw;
  font-family: FZLanTingHei-R-GBK;
  font-weight: 400;
  color: #e23a72;
  line-height: 6vw;
  border: 1px solid #e23a72;
  float: right;
  text-align: center;
}
body .order .order_content .order_item .order_item_four .order_item_four_operate .order_item_four_do:first-child {
  margin-left: 5%;
}
body .order .order_content .order_item .order_item_img {
  width: 100%;
  height: 45vw;
  position: relative;
}
body .order .order_content .order_item .order_item_img > img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
body .order .order_content .order_item .order_item_img .order_item_hot {
  position: absolute;
  padding: 6px 12px;
  top: 5px;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background: #f3387a;
  border-radius: 5px;
  z-index: 5;
}
body .order .order_content .order_item .order_item_img .order_item_shopnumber {
  position: absolute;
  padding: 6px 12px;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background: #f3387a;
  border-radius: 5px;
  z-index: 5;
}
body .order .order_content .order_item .order_item_one {
  padding: 1%;
  background: #ffffff;
}
body .order .order_content .order_item .order_item_one .order_item_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0.5vh;
  font-family: HYQiHei 35S;
}
body .order .order_content .order_item .order_item_one .order_item_amoutbox {
  overflow: hidden;
  margin-top: 5vw;
}
body .order .order_content .order_item .order_item_one .order_item_amoutbox .order_item_newamout {
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: #f3387a;
  line-height: 20px;
}
body .order .order_content .order_item .order_item_one .order_item_amoutbox .order_item_oldamout {
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  color: #8f8f8f;
  margin-left: 5vw;
}
body .order .order_content .order_item .order_item_two {
  height: 15vw;
  width: 95%;
  padding: 1%;
  background-image: url("../image/order/o_2.png");
  background-size: 100% 100%;
  overflow: hidden;
}
body .order .order_content .order_item .order_item_two .order_item_two_title {
  width: 23%;
  height: 100%;
  float: left;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 15vw;
  text-align: center;
}
body .order .order_content .order_item .order_item_two .order_item_two_c {
  width: 40%;
  height: 100%;
  float: left;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 15vw;
  text-align: center;
}
body .order .order_content .order_item .order_item_two .order_item_three {
  width: 30%;
  height: 100%;
  float: left;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
body .order .order_content .order_item .order_item_two .order_item_three .order_itemtwo_time {
  margin-top: 2vw;
}
body .order .order_content .order_item .order_item_two_timebox {
  font-size: 12px;
  font-weight: 400;
  color: #969696;
  line-height: 7vw;
  text-indent: 0.5em;
}
body .order .order_content .order_item .order_item_pay {
  float: right;
  padding: 1vw 3vw;
  font-size: 16px;
  font-weight: 400;
  color: #2a83df;
  border-radius: 10px;
  border: 1px solid #2a83df;
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  background: #ffffff;
}
body .order .order_content .order_item .order_item_cannel {
  float: right;
  padding: 1vw 3vw;
  font-size: 16px;
  font-weight: 400;
  color: #2a83df;
  border-radius: 10px;
  border: 1px solid #2a83df;
  position: absolute;
  bottom: 1vh;
  right: 20vw;
  background: #ffffff;
}
body .order .order_content .order_item .order_details {
  overflow: hidden;
  margin-top: -8vw;
}
body .order .order_content .order_item .order_details .order_name {
  display: block;
  text-decoration: none;
  padding: 1vw 3vw;
  font-size: 16px;
  font-weight: 400;
  color: #2a83df;
  border-radius: 10px;
  border: 1px solid #2a83df;
  float: right;
  margin-right: 2vw;
  margin-bottom: 2vw;
  background: #ffffff;
}
body .order .order_content .order_item .status > div {
  width: 30vw;
  height: 30vw;
  background-image: url("../image/order/o_4.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(20deg);
  position: absolute;
  left: 40vw;
  top: 10vw;
  z-index: 2;
}
body .order .order_content .order_item .statustwo {
  width: 30vw;
  height: 30vw;
  background-image: url("../image/order/o_5.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  position: absolute;
  left: 40vw;
  top: 10vw;
  z-index: 2;
}
body .order .order_content .order_no {
  width: 50vw;
  height: 50vw;
  margin: 10vh auto;
  background-image: url("../img/index/no.png");
  background-size: 100% 100%;
}
body .order .order_content .index_anmat {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: 5;
}
body .order .order_content .index_anmat .sk-wave {
  margin: 30% auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
body .order .order_content .index_anmat .sk-wave .sk-rect {
  border-radius: 1.5rem;
  background-color: #3d95fc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
body .order .order_content .index_anmat .sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
body .order .order_content .index_anmat .sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
body .order .order_content .index_anmat .sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
body .order .order_content .index_anmat .sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
body .order .order_content .index_anmat .sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
body .order .order_content .slice {
  margin: 2vw auto 2vw;
  display: table;
}
body .order .order_content .slice .slice > div {
  margin: 1em auto;
}
body .order .order_content .slice [data-loader='circle'] {
  width: 18px;
  height: 18px;
  -webkit-animation: circle infinite 0.75s linear;
  -moz-animation: circle infinite 0.75s linear;
  -o-animation: circle infinite 0.75s linear;
  animation: circle infinite 0.75s linear;
  border: 2px solid red;
  border-top-color: transparent;
  border-radius: 100%;
}
body .order .order_content .slice [data-loader='circle-side'] {
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-animation: circle infinite 0.75s linear;
  -moz-animation: circle infinite 0.75s linear;
  -o-animation: circle infinite 0.75s linear;
  animation: circle infinite 0.75s linear;
  border: 2px solid #fff;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body .order .order_more {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
}
body .public {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
body .public .public_item {
  width: 60vw;
  margin: 20vh auto 5vh;
}
body .public .public_item .public_item_title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
body .public .public_item .public_item_img {
  width: 50vw;
  height: 50vw;
  margin: 5vh auto;
  background-image: url("../image/order/public.jpg");
  background-size: 100% 100%;
  border-radius: 10px;
}
body .public .public_item .public_item_cannel {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 3vw 5vw;
  background: red;
  font-family: Arial;
  border-radius: 5rem;
  cursor: pointer;
}
body .cate {
  animation: sw 0.1s forwards;
}
body a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
}
body .wr {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
body .wr .wr_box {
  width: 70%;
  height: auto;
  background: #ffffff;
  margin: 20vh auto;
  border-radius: 20px;
  overflow: hidden;
}
body .wr .wr_box .wr_title {
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
  margin-top: 2vw;
}
body .wr .wr_box .wr_do {
  display: table;
  margin: 5vw auto;
}
body .wr .wr_box .wr_do .wr_ok {
  padding: 1vw 3vw;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-right: 5vw;
  float: left;
  font-size: 3.8vw;
  font-weight: 500;
}
body .wr .wr_box .wr_do .wr_cannel {
  padding: 1vw 3vw;
  border: 1px solid #000000;
  border-radius: 10px;
  float: left;
  font-size: 3.8vw;
  font-weight: 500;
}
body .orderdetails {
  margin-top: 2vw;
  padding-bottom: 16vw;
}
body .orderdetails .orderdetailsone {
  width: 90vw;
  margin: 1vw auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 8px;
  position: relative;
}
body .orderdetails .orderdetailsone .od_one_header {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-bottom: 5vw;
  border-bottom: 1px dashed rgba(112, 112, 112, 0.18);
}
body .orderdetails .orderdetailsone .od_one_header .od_one_img {
  float: left;
  width: 41vw;
  height: 20vw;
  border-radius: 8px;
  margin-top: 2vw;
  margin-left: 1vw;
}
body .orderdetails .orderdetailsone .od_one_header .od_one_img > img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}
body .orderdetails .orderdetailsone .od_one_header .od_one_name {
  float: left;
  margin-top: 2vw;
  margin-left: 1.5vw;
  width: 46vw;
  font-size: 4vw;
  font-weight: 700;
  color: #000000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
body .orderdetails .orderdetailsone .od_one_use {
  width: 90%;
  margin: 1vw auto;
  padding-bottom: 3vw;
}
body .orderdetails .orderdetailsone .od_one_use .od_one_title {
  font-size: 3.7vw;
  font-weight: 700;
  color: rgba(15, 15, 15, 0.9);
}
body .orderdetails .orderdetailsone .od_one_use .od_one_cdk {
  font-size: 4vw;
  font-family: HYQiHei 85S;
  font-weight: 700;
  line-height: 5vw;
  color: #D81E06;
  overflow: hidden;
  margin-top: 1vw;
}
body .orderdetails .orderdetailsone .od_one_use .od_one_cdk > div {
  float: left;
  margin-right: 2vw;
}
body .orderdetails .orderdetailsone:after {
  content: '';
  width: 8vw;
  height: 8vw;
  margin-left: 0;
  background: #f0f0f0;
  border-radius: 50%;
  position: absolute;
  top: 23vw;
  left: -4vw;
  z-index: 2;
}
body .orderdetails .orderdetailsone:before {
  content: '';
  width: 8vw;
  height: 8vw;
  margin-left: 0;
  background: #f0f0f0;
  border-radius: 50%;
  position: absolute;
  top: 23vw;
  right: -4vw;
  z-index: 2;
}
body .orderdetails .orderdetailstwo {
  width: 90vw;
  height: auto;
  margin: 1vw auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 8px;
  position: relative;
  margin-top: 2.5vw;
  padding-bottom: 2vw;
}
body .orderdetails .orderdetailstwo .od_two_title {
  font-size: 3.7vw;
  font-weight: 700;
  color: rgba(15, 15, 15, 0.9);
  width: 90%;
  margin: 0 auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-bottom: 1px solid #c4c4c4;
}
body .orderdetails .orderdetailstwo .od_two_item {
  width: 90%;
  margin: 2vw auto 2vw;
  overflow: hidden;
}
body .orderdetails .orderdetailstwo .od_two_item .od_two_itemname {
  font-size: 3.4vw;
  font-family: HYQiHei 85S;
  font-weight: 700;
  line-height: 5vw;
  color: #000000;
}
body .orderdetails .orderdetailstwo .od_two_item .od_two_itemname .od_two_itemcontent {
  font-size: 3.4vw;
  font-family: HYQiHei 85S;
  font-weight: 400;
  line-height: 5vw;
  color: #8f8f8f;
}
body .orderdetails .orderdetailsthree {
  width: 90vw;
  height: auto;
  margin: 1vw auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 8px;
  position: relative;
  margin-top: 3vw;
  padding-bottom: 2vw;
}
body .orderdetails .orderdetailsthree .od_three_box {
  width: 90%;
  margin: 0 auto;
  padding-top: 3vw;
  border-bottom: 1px solid rgba(112, 112, 112, 0.18);
}
body .orderdetails .orderdetailsthree .od_three_box .od_three_title {
  font-size: 3.7vw;
  font-weight: 700;
  color: rgba(15, 15, 15, 0.9);
  width: 100%;
}
body .orderdetails .orderdetailsthree .od_three_box .od_three_item {
  width: 100%;
  margin: 1vw auto 2vw;
  position: relative;
}
body .orderdetails .orderdetailsthree .od_three_box .od_three_item .od_three_itemname {
  font-size: 3.4vw;
  font-family: HYQiHei 85S;
  font-weight: 700;
  line-height: 5vw;
  color: #8f8f8f;
}
body .orderdetails .orderdetailsthree .od_three_box .od_three_item .od_three_itemname .od_three_itemcontent {
  font-size: 3.4vw;
  font-family: HYQiHei 85S;
  font-weight: 400;
  line-height: 5vw;
  color: #8f8f8f;
}
body .orderdetails .orderdetailsthree .od_three_box .od_three_item .od_three_bh {
  display: block;
  padding: 0.5vw 4vw;
  font-size: 3.5vw;
  font-weight: 500;
  position: absolute;
  right: 1vw;
  top: 0;
  background: rgba(243, 56, 122, 0.08);
  color: #707070;
  border-radius: 3vw;
}
body .orderdetails .orderdetailsfour {
  width: 90vw;
  height: 10vw;
  margin: 1vw auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
  border-radius: 8px;
  position: relative;
  margin-top: 3vw;
  line-height: 10vw;
}
body .orderdetails .orderdetailsfour .od_four_title {
  font-size: 3.7vw;
  font-weight: 700;
  color: rgba(15, 15, 15, 0.9);
  margin: 0 auto;
  float: left;
  margin-left: 5%;
}
body .orderdetails .orderdetailsfour .od_four_time {
  font-size: 3.4vw;
  font-family: HYQiHei 85S;
  font-weight: 700;
  color: #D81E06;
  float: left;
  margin-left: 5vw;
}
body div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
}
body .loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: 9;
}
body .loading .index_anmat {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: 5;
}
body .loading .index_anmat .sk-wave {
  margin: 30% auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
body .loading .index_anmat .sk-wave .sk-rect {
  border-radius: 1.5rem;
  background-color: #3d95fc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
body .loading .index_anmat .sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
body .loading .index_anmat .sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
body .loading .index_anmat .sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
body .loading .index_anmat .sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
body .loading .index_anmat .sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
body .loading .slice {
  margin: 20vh auto;
  display: table;
}
body .loading .slice .slice > div {
  margin: 1em auto;
}
body .loading .slice [data-loader='circle'] {
  width: 18px;
  height: 18px;
  -webkit-animation: circle infinite 0.75s linear;
  -moz-animation: circle infinite 0.75s linear;
  -o-animation: circle infinite 0.75s linear;
  animation: circle infinite 0.75s linear;
  border: 2px solid red;
  border-top-color: transparent;
  border-radius: 100%;
}
body .loading .slice [data-loader='circle-side'] {
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-animation: circle infinite 0.75s linear;
  -moz-animation: circle infinite 0.75s linear;
  -o-animation: circle infinite 0.75s linear;
  animation: circle infinite 0.75s linear;
  border: 2px solid #fff;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sw {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}
img:not([src]) {
  opacity: 0;
}
